Package: me.jjolano.lowpowercharging
Name: LowPowerCharging
Depends: mobilesubstrate
Version: 0.0.2
Architecture: iphoneos-arm
Description: Enables Low Power Mode automatically when charging.
Maintainer: jjolano
Author: jjolano
Section: Tweaks
